body {
    background-color: #0091EA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}
.logo {
    margin-bottom: 1rem;
     width: 100px;
}
h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
p {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: #555;
}
input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}
button {
            width: 100%;
            padding: 0.5rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}